@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Valais Booking Service</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Hotels</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: hotels">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>: <span data-bind="text: Location"></span>
                        <small><a href="#">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-4">
        <!-- TODO: Hotel details -->
    </div>

    <div class="col-md-4">
        <!-- TODO: Add new hotel -->
    </div>
</div>